<a href="https://colab.research.google.com/github/DevManoj19/Practice/blob/main/Concatenate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

file_path = "sample_data.xlsx"

data = pd.DataFrame({'Name': ['MANOJ', 'JONAM'], 'Age': [21, 20], 'city': ['ALIPURDUAR', 'CHANDHIGARH']})
# Saving with index
data.to_excel(file_path, index=True)
print("input data:\n", pd.read_excel(file_path))

new_data = pd.DataFrame({'Name': ['VINAY', 'JASMI'], 'Age': [19, 20], 'city': ['visakhapatnam', 'hyderabad']})
# Concatenating and saving with index
pd.concat([pd.read_excel(file_path), new_data]).to_excel(file_path, index=True)

df = pd.read_excel(file_path)

df.loc[df['Name'] == 'MANOJ', 'Age'] = 21
# Saving with index
df.to_excel(file_path, index=True)
print("updated data:\n", pd.read_excel(file_path))

input data:
    Unnamed: 0   Name  Age         city
0           0  MANOJ   21   ALIPURDUAR
1           1  JONAM   20  CHANDHIGARH
updated data:
    Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0   Name  Age           city
0             0             0         0.0  MANOJ   21     ALIPURDUAR
1             1             1         1.0  JONAM   20    CHANDHIGARH
2             2             0         NaN  VINAY   19  visakhapatnam
3             3             1         NaN  JASMI   20      hyderabad

In [ ]:
import pandas as pd

file_path = "sample_data.xlsx"

data = pd.DataFrame({'Name': ['MANOJ', 'JONAM'], 'Age': [21, 20], 'city': ['ALIPURDUAR', 'CHANDHIGARH']})
data.to_excel(file_path, index=False)
print("input data:\n", pd.read_excel(file_path))


new_data = pd.DataFrame({'Name': ['VINAY', 'JASMI'], 'Age': [19, 20], 'city': ['visakhapatnam', 'hyderabad']})
pd.concat([pd.read_excel(file_path), new_data]).to_excel(file_path, index=False)

df = pd.read_excel(file_path)

df.loc[df['Name'] == 'MANOJ', 'Age'] = 21
df.to_excel(file_path, index=False)
print("updated data:\n", pd.read_excel(file_path))

input data:
     Name  Age         city
0  MANOJ   21   ALIPURDUAR
1  JONAM   20  CHANDHIGARH
updated data:
     Name  Age           city
0  MANOJ   21     ALIPURDUAR
1  JONAM   20    CHANDHIGARH
2  VINAY   19  visakhapatnam
3  JASMI   20      hyderabad