<a href="https://colab.research.google.com/github/DevManoj19/Practice/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['manoj', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Accessing data
print("\nAccessing data:")
print("Names:", df['Name'])  # Access a column by name
print("Age of manoj:", df.loc[df['Name'] == 'manoj', 'Age'].iloc[0])  # Access a specific value

# Adding a new column
df['Salary'] = [500000000, 60000, 45000, 55000]
print("\nDataFrame with added 'Salary' column:")
print(df)

# Filtering data
print("\nFiltering data (Age > 25):")
print(df[df['Age'] > 25])

# Sorting data
print("\nSorting data by Age:")
print(df.sort_values(by=['Age']))

# Grouping data
print("\nGrouping data by City and calculating average Age:")
print(df.groupby('City')['Age'].mean())

Original DataFrame:
      Name  Age      City
0    manoj   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo

Accessing data:
Names: 0      manoj
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
Age of manoj: 25

DataFrame with added 'Salary' column:
      Name  Age      City     Salary
0    manoj   25  New York  500000000
1      Bob   30    London      60000
2  Charlie   22     Paris      45000
3    David   28     Tokyo      55000

Filtering data (Age > 25):
    Name  Age    City  Salary
1    Bob   30  London   60000
3  David   28   Tokyo   55000

Sorting data by Age:
      Name  Age      City     Salary
2  Charlie   22     Paris      45000
0    manoj   25  New York  500000000
3    David   28     Tokyo      55000
1      Bob   30    London      60000

Grouping data by City and calculating average Age:
City
London      30.0
New York    25.0
Paris       22.0
Tokyo       28.0
Name: Age, dtype: float64